<div class="container mt-5">
    <div class="card">
        <article class="card-body animated animate__animated animate__slideInRight">
            <form class="row g-3" (ngSubmit)="onSubMitEditarOfertaLaboral(fValidarOfertaLaboral)" #fValidarOfertaLaboral="ngForm" enctype="multipart/form-data">
                <h3>Validar Oferta Laboral</h3>

                <div class="col-2">
                    <a class="float-right btn btn-outline-primary" [routerLink]="['/panel-admin/validar-oferta-laboral']">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</a>
                </div>

                <hr>
                <div class="col-md-12">
                    <label for="inputPuesto" class="form-label">Puesto</label><br>
                    <span class="text-danger " *ngIf="fValidarOfertaLaboral.submitted && fValidarOfertaLaboral.controls['puesto'].errors">El Puesto es obligatorio</span>
                    <input type="text" [(ngModel)]="instanciaOfertaLaboral.puesto" name="puesto" class="form-control" required disabled>
                </div>
                <div class="col-md-12">
                    <label for="inputDescripcion" class="form-label">Descripcion </label><br>
                    <span class="text-danger " *ngIf="fValidarOfertaLaboral.submitted && fValidarOfertaLaboral.controls['descripcion'].errors">La Descripcion es obligatorio</span>
                    <textarea class="form-control" [(ngModel)]="instanciaOfertaLaboral.descripcion" name="descripcion" required disabled></textarea>
                </div>
                <div class="col-md-12">
                    <label for="inputLugar" class="form-label">Lugar</label><br>
                    <span class="text-danger " *ngIf="fValidarOfertaLaboral.submitted && fValidarOfertaLaboral.controls['lugar'].errors">El Lugar es obligatorio</span>
                    <textarea class="form-control" [(ngModel)]="instanciaOfertaLaboral.lugar" name="lugar" required disabled></textarea>
                </div>

                <div class="col-md-12">
                    <label for="inputRequisitos" class="form-label">Requisitos </label><br>
                    <span class="text-danger " *ngIf="fValidarOfertaLaboral.submitted && fValidarOfertaLaboral.controls['requisitos'].errors">El Numero de registro es obligatorio</span>
                    <textarea id="compose-textarea" class="form-control " style="height: 300px" name="requisitos" [(ngModel)]="instanciaOfertaLaboral.requisitos"></textarea>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Observaciones</label><br>
                        <span class="text-danger " *ngIf="fValidarOfertaLaboral.submitted && fValidarOfertaLaboral.controls['observaciones'].errors">Debe poner un comentario</span>
                        <textarea class="form-control" [(ngModel)]="instanciaOfertaLaboral.obervaciones" name="observaciones" required></textarea>
                    </div>
                </div>
                <div class=" col-md-6 ">
                    <div class="form-group ">
                        <label for="exampleFormControlTextarea1 ">Estado de validación</label><br>
                        <button type="button " class="btn btn-outline-danger " *ngIf="estadoAprobado(instanciaOfertaLaboral.estado)==false " (click)="estadoAprobado(2) ">
                            <i class="fas fa-times-circle "></i>No Aprobado
                        </button>
                        <button type="button " class="btn btn-outline-success " *ngIf="estadoAprobado(instanciaOfertaLaboral.estado)==true " (click)="estadoAprobado(1) ">
                            <i class="fas fa-check "></i>  Aprobado
                        </button>
                    </div>
                </div>

                <div class="col-12 ">
                    <button type="submit " class="btn btn-primary ">Guardar</button>
                </div>
            </form>
        </article>
    </div>

</div>