<div class="container mt-5 animate__animated    animate__slideInLeft" style="padding-bottom: 100px;">
    <div class="card">
        <div class="alert alert-warning" role="alert" *ngIf="encontrado==false">
            <a [routerLink]="['/panel-admin/tareas/']" class="float-right btn btn-outline-success">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar a mi perfil</a>
            <p> Estudiante no encontrado</p>

        </div>
        <article class="card-body" *ngIf="encontrado==true">
            <form class="row g-3" (ngSubmit)="onSubmitForPostulanteAprobacion(fPostulante)" #fPostulante="ngForm">
                <h3>Validar registro de postulante</h3>
                <div class="col-3">
                    <a [routerLink]="['/panel-admin/tareas/']" class="float-right btn btn-outline-success">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar a mi perfil </a>
                </div>

                <hr>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Nombre Completos</label><br>
                    <span class="text-danger " *ngIf="fPostulante.submitted && fPostulante.controls['nombre'].errors">El Nombre es obligatorio</span>
                    <input type="texto" [(ngModel)]="instanciaPostulante.nombre" name="nombre" class="form-control" required minlength="3" disabled>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Apellido Completos</label><br>
                    <span class="text-danger " *ngIf="fPostulante.submitted && fPostulante.controls['apellido'].errors">El Apellido es obligatorio</span>
                    <input type="text" [(ngModel)]="instanciaPostulante.apellido" name="apellido" class="form-control" required minlength="3" disabled>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Cédula de Identidad</label><br>
                    <span class="text-danger " *ngIf="fPostulante.submitted && fPostulante.controls['cedula'].errors">La cedula es obligatoria</span>
                    <input type="text" [(ngModel)]="instanciaPostulante.cedula" name="cedula" class="form-control" required disabled>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Fecha de Nacimiento</label><br>
                    <span class="text-danger " *ngIf="fPostulante.submitted && fPostulante.controls['fechaNacimiento'].errors">La fecha es obligatorio</span>
                    <input type="date" [ngModel]='instanciaPostulante.fecha_nacimiento | date:"yyyy-MM-dd" ' name="fechaNacimiento" class="form-control" required disabled>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Teléfono fijo o móvil</label><br>
                    <span class="text-danger " *ngIf="fPostulante.submitted && fPostulante.controls['telefono'].errors">El telefono es obligatorio</span>
                    <input type="text" [(ngModel)]="instanciaPostulante.telefono" class="form-control" name="telefono" required minlength="10" disabled>
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Genero</legend>
                            <span class="text-danger " *ngIf="fPostulante.submitted && fPostulante.controls['genero'].errors">El genero es obligatorio</span>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="genero" [value]="0" required [(ngModel)]="instanciaPostulante.genero" [disabled]="true">
                                    <label class="form-check-label " for="gridRadios1 "> Masculino</label>
                                </div>
                                <div class="form-check ">
                                    <input class="form-check-input " type="radio" name="genero" [value]="1" required [(ngModel)]="instanciaPostulante.genero" [disabled]="true">
                                    <label class="form-check-label " for="gridRadios2">Femenino</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group ">
                        <label for="exampleFormControlTextarea1 ">Dirección de domicilio o laboral</label><br>
                        <span class="text-danger " *ngIf="fPostulante.submitted && fPostulante.controls[ 'direcionDomicilio'].errors ">La direccion es obligatorio</span>
                        <textarea class="form-control " [(ngModel)]="instanciaPostulante.direccion_domicilio " name="direcionDomicilio " rows="3 " required minlength="5 " disabled></textarea>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group ">
                        <label for="exampleFormControlTextarea1 ">Observaciones</label><br>

                        <span class="text-danger " *ngIf="fPostulante.submitted && fPostulante.controls[ 'observaciones'].errors ">Debe poner un comentario</span>
                        <textarea class="form-control " [(ngModel)]="instanciaPostulante.observaciones " name="observaciones " rows="3 " required></textarea>
                    </div>
                </div>
                <div class=" col-md-6 ">
                    <div class="form-group ">
                        <label for="exampleFormControlTextarea1 ">Estado de validación</label><br>
                        <button type="button " class="btn btn-outline-danger " *ngIf="estadoAprobado(instanciaPostulante.estado)==false " (click)="estadoAprobado(1) "><i class="fas fa-times-circle "></i>No Aprobado</button>
                        <button type="button " class="btn btn-outline-success " *ngIf="estadoAprobado(instanciaPostulante.estado)==true " (click)="estadoAprobado(0) "><i class="fas fa-check "></i>  Aprobado</button>
                    </div>
                </div>

                <div class="col-12 d-flex justify-content-center ">
                    <button type="submit " class="btn btn-primary ">Guardar</button>
                </div>


            </form>

        </article>
    </div>
</div>