<navTab-postulante></navTab-postulante>

<div class="container mt-5">
    <div class="col-3 mb-3">
        <a class="float-right btn btn-outline-primary" [routerLink]="['/panel-postulante/add-titulo']">
            <i class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
    </div>
    <div class="card">
        <article class="card-body animated animate__animated animate__slideInRight">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo obtenido</th>
                        <th>Nivel de instrucción </th>
                        <th>Numero de registro</th>
                        <th>Tipo de titulo</th>
                        <th>Detalles adicionales</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let titulosAcademicos of tituloAcademico;let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ titulosAcademicos.titulo_obtenido }}</td>
                        <td *ngIf="(titulosAcademicos.nivel_instruccion).toString()=='1' ">Tercer Nivel</td>
                        <td *ngIf="(titulosAcademicos.nivel_instruccion).toString()=='2' ">Cuarto Nivel</td>
                        <td>{{ titulosAcademicos.numero_registro }}</td>
                        <td *ngIf="(titulosAcademicos.tipo_titulo).toString()=='1' ">Nacional</td>
                        <td *ngIf="(titulosAcademicos.tipo_titulo).toString()=='2' ">Extranjero</td>
                        <td>{{ titulosAcademicos.detalles_adiciones }}</td>
                        <!-- <td>
                                <a class="btn btn-light " href="http://localhost/Tesis/Archivos/Titulos/{{ titulosAcademicos.evidencias_url }} " target="alt "><i class="far fa-file-pdf " ></i></a>
                            </td> -->
                        <td>
                            <a class="btn btn-light " href="http://localhost/Tesis/Archivos/Titulos/{{ titulosAcademicos.evidencias_url }} " target="alt "><i class="far fa-file-pdf " ></i></a>
                            <a class="btn btn-light " [routerLink]="[ '/panel-postulante/edit-titulo',titulosAcademicos.external_ti] "><i class="fas fa-pencil-alt " ></i></a>
                            <a class="btn btn-light " (click)="eliminarTitulo(titulosAcademicos.external_ti,titulosAcademicos.titulo_obtenido,titulosAcademicos.evidencias_url,i)"><i class="fas fa-trash-alt "></i></a>
                        </td>
                        <!-- <td *ngIf="estadoRevision(titulosAcademicos.observaciones)==false && estadoConversion(titulosAcademicos.estado)==false "><span class=" badge badge-danger ">No validado</span></td>
                            <td *ngIf="estadoRevision(titulosAcademicos.observaciones)==true && estadoConversion(titulosAcademicos.estado)==true "><span class="badge badge-success ">Validado</span></td>
                            <td *ngIf="estadoRevision(titulosAcademicos.observaciones)==true && estadoConversion(titulosAcademicos.estado)==false "><span class="badge badge-warning ">Revisado</span></td> -->
                        <!-- <td>
                                <button type="button " class="btn btn-primary " [routerLink]="[ '/panel-admin/tareas/postulante',estudiantes.external_es] "><i class="fas fa-chevron-right "></i></button>
                            </td> -->
                    </tr>
                </tbody>
            </table>

        </article>
    </div>

</div>