<div class="container mt-5  animate__animated    animate__slideInLeft">
    <div class="card">
        <article class="card-body">
            <form class="row g-3" (ngSubmit)="onSubMitRegistroPostulante(fRegistroPostulante)" #fRegistroPostulante="ngForm">
                <h3>Registro de postulante</h3>
                <div class="col-3">
                    <a [routerLink]="['/login-postulante']" class="float-right btn btn-outline-primary">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar a Login Postulante</a>
                </div>
                <hr>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email </label><br>
                    <span class="text-danger " *ngIf="fRegistroPostulante.submitted && fRegistroPostulante.controls['correo'].errors">El correo es obligatorio</span>
                    <input type="email" [(ngModel)]="usuarioModel.correo" name="correo" class="form-control" required email>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Password</label><br>
                    <span class="text-danger" *ngIf="fRegistroPostulante.submitted && fRegistroPostulante.controls['password'].errors">El password es obligatorio</span>
                    <input type="password" [(ngModel)]="usuarioModel.password" name="password" class="form-control" required minlength="6">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Registrarme</button>
                </div>
            </form>

        </article>
    </div>

</div>