<navTab-empleador></navTab-empleador>

<div class="content-wrapper">
    <div class="alert alert-warning" role="alert" *ngIf="obervaciones==false && booleanFormularioCompletado==true">
        Registro de empleador en proceso de validación, en 72 horas se notificara su aprobación
    </div>
    <div class=" animated fadeIn" *ngIf="booleanFormularioCompletado==true">
        <div class="card">
            <article class="card-body">
                <form class="row g-3" (ngSubmit)="onSubmitFormularioEmpleadorEditar(fEmpleador)" #fEmpleador="ngForm">
                    <!-- // ======= SI EL FORMULARIO HA SIDO REVISADO POR LA SECREATARIA Y SU ESTADO DE VALIDACION ES TRUE ===============// -->
                    <div class="alert alert-success" role="alert" *ngIf="formValidado==true && obervaciones==true">
                        <h4 class="alert-heading">Validacion exitosa </h4>
                        <p>Tu validacion ha sido exitosa, por lo cual ya puedes publicar las ofertas laborales en la plataformas</p>
                        <hr>
                        <p class="mb-0">Obersvaciones: {{ instanciaEmpleadorLlenarForm.observaciones }}</p>
                    </div>
                    <!-- // ======= SI EL FORMULARIO HA SIDO REVISADO POR LA SECREATARIA Y SU ESTADO DE VALIDACION ES FALSE  ===============// -->
                    <div class="alert alert-warning" role="alert" *ngIf="formValidado==false && obervaciones==true">
                        <h4 class="alert-heading">Validacion no exitosa </h4>
                        <p>{{ instanciaEmpleadorLlenarForm.observaciones }}</p>
                        <hr>
                        <p class="mb-0">Por favor vuelte a intentar</p>
                    </div>
                    <h3>Registro de Empleador</h3>

                    <hr>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Razón social de la empresa</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['razonSocial'].errors">La razón social de la empresa es obligatorio</span>
                        <input type="texto" [(ngModel)]="instanciaEmpleadorLlenarForm.razon_empresa" name="razonSocial" class="form-control" required [disabled]="obervaciones==false || formValidado==true">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Tipo de institución o empresa</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['tipoEmpresa'].errors">El tipo de institución o empresa es obligatorio</span>
                        <input type="text" [(ngModel)]="instanciaEmpleadorLlenarForm.tipo_empresa" name="tipoEmpresa" class="form-control" required [disabled]="obervaciones==false || formValidado==true">
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Actividad económica inscrita en el RUC</label><br>
                            <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['actividadRuc'].errors">La Actividad económica inscrita en el RUC es obligatorio</span>
                            <textarea class="form-control" [(ngModel)]="instanciaEmpleadorLlenarForm.actividad_ruc" name="actividadRuc" rows="3" required [disabled]="obervaciones==false || formValidado==true"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Némero de RUC</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['numeroRuc'].errors">El Numero de RUC es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleadorLlenarForm.num_ruc" name="numeroRuc" class="form-control" required [disabled]="obervaciones==false || formValidado==true" max="13">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Cédula de identidad del representante legal</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['cedula'].errors">El numero de cedula es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleadorLlenarForm.cedula" name="cedula" class="form-control" required min="10" [disabled]="obervaciones==false || formValidado==true">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Nombre del representante legal</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['nomRepresentanteLegal'].errors">El nombre del representante es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleadorLlenarForm.nom_representante_legal" name="nomRepresentanteLegal" class="form-control" required [disabled]="obervaciones==false || formValidado==true">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPais" class="form-label">Provincia</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['provincias'].errors">La provincia es obligatorio</span>
                        <select class="form-control" (ngModelChange)="escucharSelectProvincia($event)" name="provincias" [(ngModel)]="instanciaEmpleadorLlenarForm.fk_provincia" [disabled]="obervaciones==false || formValidado==true" required>
                        <option [value]="item.id" *ngFor="let item of arrayProvincias;let i=index">{{item.nombre}}</option>
                      </select>
                    </div>
                    <div class="col-md-6 ">
                        <label for="inputPais " class="form-label ">Ciudad </label><br>
                        <span class="text-danger" *ngIf="fEmpleador.submitted && fEmpleador.controls['ciudad'].errors ">La Ciudad es obligatorio</span>
                        <select class="form-control " [(ngModel)]="instanciaEmpleadorLlenarForm.fk_ciudad" name="ciudad" [disabled]="obervaciones==false || formValidado==true" required>

                            <option [value]="item.id "*ngFor="let item of arrayCiudad;let i=index ">{{item.nombre}}</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Télefono</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['telefono'].errors">La fecha es obligatorio</span>
                        <input type="text" [ngModel]='instanciaEmpleadorLlenarForm.telefono' name="telefono" class="form-control" required [disabled]="obervaciones==false || formValidado==true">
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Dirección de domicilio o laboral</label><br>
                            <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['direcionDomicilio'].errors">La direccion es obligatorio</span>
                            <textarea class="form-control" [(ngModel)]="instanciaEmpleadorLlenarForm.direccion" name="direcionDomicilio" required [disabled]="obervaciones==false || formValidado==true"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" [disabled]="obervaciones==false || formValidado==true">Reenviar</button>
                    </div>
                </form>
            </article>
        </div>
    </div>
    <!-- ============= SI NO LLENA EL FORMUALRIO ENTONCES SE PRESENTA EL FORMULARIO VACIO PARA QUE LO REGISTRE =========== -->
    <div class="mt-5 animated fadeIn" style="padding-bottom: 100px;" *ngIf="booleanFormularioCompletado==false">
        <div class="card">
            <article class="card-body">
                <form class="row g-3" (ngSubmit)="onSubmitFormularioEmpledor(fEmpleadorRegistrar)" #fEmpleadorRegistrar="ngForm">
                    <h3>Registro de Empleador</h3>
                    <hr>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Razón social de la empresa</label><br>
                        <span class="text-danger " *ngIf="fEmpleadorRegistrar.submitted && fEmpleadorRegistrar.controls['razonSocialRegistrar'].errors">La razón social de la empresa es obligatorio</span>
                        <input type="texto" [(ngModel)]="instanciaEmpleadorRegistrar.razon_empresa" name="razonSocialRegistrar" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Tipo de institución o empresa</label><br>
                        <span class="text-danger " *ngIf="fEmpleadorRegistrar.submitted && fEmpleadorRegistrar.controls['tipoEmpresaRegistrar'].errors">El tipo de institución o empresa es obligatorio</span>
                        <input type="text" [(ngModel)]="instanciaEmpleadorRegistrar.tipo_empresa" name="tipoEmpresaRegistrar" class="form-control" required>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Actividad económica inscrita en el RUC</label><br>
                            <span class="text-danger " *ngIf="fEmpleadorRegistrar.submitted && fEmpleadorRegistrar.controls['actividadRucRegistrar'].errors">La Actividad económica inscrita en el RUC es obligatorio</span>
                            <textarea class="form-control" [(ngModel)]="instanciaEmpleadorRegistrar.actividad_ruc" name="actividadRucRegistrar" rows="3" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Número de RUC</label><br>
                        <span class="text-danger " *ngIf="fEmpleadorRegistrar.submitted && fEmpleadorRegistrar.controls['numeroRucRegistrar'].errors">El Numero de RUC es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleadorRegistrar.num_ruc" name="numeroRucRegistrar" class="form-control" required maxlength="13">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Cédula de identidad del representante legal</label><br>
                        <span class="text-danger" *ngIf="fEmpleadorRegistrar.submitted && fEmpleadorRegistrar.controls['cedulaRegistrar'].errors">El numero de cedula es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleadorRegistrar.cedula" name="cedulaRegistrar" class="form-control" maxlength="10" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Nombre del representante legal</label><br>
                        <span class="text-danger" *ngIf="fEmpleadorRegistrar.submitted && fEmpleadorRegistrar.controls['nomRepresentanteLegalRegistrar'].errors">El nombre del representante es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleadorRegistrar.nom_representante_legal" name="nomRepresentanteLegalRegistrar" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Teléfono </label><br>
                        <span class="text-danger" *ngIf="fEmpleadorRegistrar.submitted && fEmpleadorRegistrar.controls['telefonoRegistrar'].errors">El Telefono es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleadorRegistrar.telefono" name="telefonoRegistrar" class="form-control" maxlength="9" required>
                    </div>
                    <div class="col-md-6 ">
                        <label for="inputPais " class="form-label ">Provincia</label><br>
                        <span class="text-danger " *ngIf="fEmpleadorRegistrar.submitted && fEmpleadorRegistrar.controls['provinciasRegistrar'].errors ">La Provincia es obligatorio</span>
                        <select (ngModelChange)="escucharSelectProvincia($event)" class="form-control " name="provinciasRegistrar" [(ngModel)]="instanciaEmpleadorRegistrar.fk_provincia" required>
                        <option [value]="item.id "*ngFor="let item of arrayProvincias;let i=index ">{{item.nombre}}</option>
                      </select>
                    </div>
                    <div class="col-md-6 ">
                        <label for="inputPais " class="form-label ">Ciudad</label><br>
                        <span class="text-danger " *ngIf="fEmpleadorRegistrar.submitted && fEmpleadorRegistrar.controls['ciudadRegistrar'].errors ">La Ciudad es obligatorio</span>
                        <select class="form-control " [(ngModel)]="instanciaEmpleadorRegistrar.fk_ciudad" name="ciudadRegistrar" required>
                        <option [value]="item.id "*ngFor="let item of arrayCiudad;let i=index ">{{item.nombre}}</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="exampleFormControlTextarea1 ">Dirección de domicilio o laboral</label><br>
                            <span class="text-danger " *ngIf="fEmpleadorRegistrar.submitted && fEmpleadorRegistrar.controls[ 'direcionDomicilioRegistrar'].errors ">La direccion es obligatorio</span>
                            <textarea class="form-control " [(ngModel)]="instanciaEmpleadorRegistrar.direccion " name="direcionDomicilioRegistrar" required></textarea>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <button type="submit " class="btn btn-primary ">Registrar</button>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>