<div class="centrarFormularioLoginRegistro  animate__animated  animate__slideInLeft ">

    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="index.html" class="h1"><b>Login </b>Administrador</a>
        </div>
        <div class="card-body">
            <div class="card">
                <article class="card-body">
                    <form class="row g-3" (ngSubmit)="loginAdmin(fLoginAdmin)" #fLoginAdmin="ngForm">
                        <h3>Login Administrador</h3>
                        <div class="col-3">
                            <a [routerLink]="['/home']" class="float-right btn btn-outline-primary">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar al home</a>
                        </div>
                        <hr>
                        <div class="col-md-6">
                            <label for="inputEmailAdmin" class="form-label">Email </label><br>
                            <span class="text-danger " *ngIf="fLoginAdmin.submitted && fLoginAdmin.controls['correo'].errors">El correo es obligatorio</span>
                            <input type="email" [(ngModel)]="instanciaModeloUsuarioLogin.correo" name="correo" class="form-control" id="inputEmail4" required email>
                        </div>
                        <div class="col-md-6">
                            <label for="inputPasswordAdmin" class="form-label">Password</label><br>
                            <span class="text-danger" *ngIf="fLoginAdmin.submitted && fLoginAdmin.controls['password'].errors">El password es obligatorio</span>
                            <input type="password" [(ngModel)]="instanciaModeloUsuarioLogin.password" name="password" class="form-control" id="inputPassword4" required minlength="6">
                        </div>

                        <!-- <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">Recordarme</label>
                            </div>
                        </div> -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Ingresar</button>
                        </div>
                    </form>

                </article>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>