<navTab-admin></navTab-admin>
<div class="content-wrapper">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Informacion Personal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Cursos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Capacitaciones</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="col-12 col-sm-12 col-md-12 d-flex align-items-stretch">
                <div class="col-12">
                    <div class="card-header text-muted border-bottom-0">
                        Postulante
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-7">
                                <h2 class="lead"><b>Jhonny Michael Morocho Abrigo</b></h2>
                                <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-venus-mars"></i></span> Genero:Masculino</li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-address-card"></i></span> Cedula: 1105116899</li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefono #: + 800 - 12 12 23 52</li>
                                    <li class="small"><span class="fa-li"><i class="far fa-calendar-alt"></i></span> Fecha Nacimiento :1993-03-09/li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span> Direccion Dominicilio : Epoca</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-envelope-square"></i></span> Correo: jmmorchoa@unl.edu</li>
                                </ul>
                            </div>
                            <div class="col-5 text-center">
                                <img src="../../dist/img/user1-128x128.jpg" alt="" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <a href="#" class="btn btn-sm bg-teal">
                                <i class="fas fa-comments"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> View Profile
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
    </div>

    <div class="card">
        <article class="card-body animated animate__animated animate__slideInRight">
            <p class="lead">
                Postulantes
            </p>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido </th>
                        <th>Cédula</th>
                        <th>Hoja Vida</th>
                        <th><i class="far fa-trash-alt"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let estudiantes of estudiante;let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ estudiantes.nombre }}</td>
                        <td>{{ estudiantes.apellido }}</td>
                        <td>{{ estudiantes.cedula }}</td>
                        <!-- <td></td> -->
                        <!-- <td *ngIf="estadoRevision(estudiantes.observaciones)==false && estadoConversion(estudiantes.estado)==false"><span class=" badge badge-danger ">No validado</span></td>
                        <td *ngIf="estadoRevision(estudiantes.observaciones)==true && estadoConversion(estudiantes.estado)==true "><span class="badge badge-success ">Validado</span></td>
                        <td *ngIf="estadoRevision(estudiantes.observaciones)==true && estadoConversion(estudiantes.estado)==false "><span class="badge badge-warning">Revisado</span></td> -->
                        <td><i class="fas fa-eye"></i></td>
                        <td>
                            <button type="button " class="btn btn-light " [routerLink]="[ '/panel-admin/tareas/postulante',estudiantes.external_es] "><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>