<div class="container mt-5 animate__animated  animate__slideInLeft">
    <div class="card">
        <article class="card-body">
            <form class="row g-3" (ngSubmit)="loginEmpleador(fLoginEmpleador)" #fLoginEmpleador="ngForm">
                <h3>Login Empleador</h3>
                <div class="col-3">
                    <a [routerLink]="['/home']" class="float-right btn btn-outline-primary">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar al Home </a>
                </div>
                <div class="col-3">
                    <a [routerLink]="['/registro-empleador']" class="float-right btn btn-outline-primary">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Registrarme </a>
                </div>
                <hr>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email </label><br>
                    <span class="text-danger " *ngIf="fLoginEmpleador.submitted && fLoginEmpleador.controls['correo'].errors">El correo es obligatorio</span>
                    <input type="email" [(ngModel)]="instanciaModeloUsuarioLogin.correo" name="correo" class="form-control" id="inputEmail4" required email>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Password</label><br>
                    <span class="text-danger" *ngIf="fLoginEmpleador.submitted && fLoginEmpleador.controls['password'].errors">El password es obligatorio</span>
                    <input type="password" [(ngModel)]="instanciaModeloUsuarioLogin.password" name="password" class="form-control" id="inputPassword4" required minlength="6">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
            </form>

        </article>
    </div>

</div>