<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" >
  <thead>
      <tr>
          <th>Ofertas Laborales</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let instanciaOfertaVer of ofertasLaborales;let i=index">
          <td>
              <div class="card-body">
                  <div class="row">
                      <div class="col-12 col-md-12 col-lg-6 order-2 order-md-1">
                          <div class="row">
                              <div class="col-12">
                                <!--puesto -->
                                  <div class="post">
                                      <!--razon empresa -->
                                      <div class="user-block">

                                          <span class="username">
                                            <a >{{ instanciaOfertaVer.razon_empresa }}</a>
                                          </span>
                                      </div>
                                      <!-- end razon empresa -->
                                      <br>
                                      <h5 class="text-primary">{{ instanciaOfertaVer.puesto }} </h5>{{instanciaOfertaVer.descripcion}} Descripción de la oferta laboral:
                                      <hr>
                                  </div>
                                <!-- end puesto -->
                              </div>
                              <!--btn postular -->
                              <div class=" mt-2 mb-2">
                                  <button type="button" class="btn btn-primary" (click)="postular(instanciaOfertaVer.external_of,instanciaOfertaVer.puesto)">Postular</button>
                              </div>
                              <!-- end btn postular -->
                          </div>
                      </div>
                  </div>
              </div>
          </td>
        </tr>
  </tbody>
</table>

