<div class="centrarFormularioLoginRegistro container animate__animated    animate__slideInLeft">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="index.html" class="h1"><b>Registro </b>Empleador</a>
            </div>
            <div class="card-body">
                <div class="card">
                    <article class="card-body">
                        <form class="row g-3" (ngSubmit)="onSubmitRegistroEmpleador(fRegistroEmpleador)" #fRegistroEmpleador="ngForm">
                            <h3>Registro Empleador</h3>
                            <p class="login-box-msg">Registrate para empezar </p>
                            <div class="col-3">
                                <a [routerLink]="['/login-empleador']" class="float-right btn btn-outline-primary">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar al login </a>
                            </div>
                            <hr>
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Email </label><br>
                                <span class="text-danger " *ngIf="fRegistroEmpleador.submitted && fRegistroEmpleador.controls['correo'].errors">El correo es obligatorio</span>
                                <input type="email" [(ngModel)]="usuarioModel.correo" name="correo" class="form-control" id="inputEmail4" required email>
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Password</label><br>
                                <span class="text-danger" *ngIf="fRegistroEmpleador.submitted && fRegistroEmpleador.controls['password'].errors">El password es obligatorio</span>
                                <input type="password" [(ngModel)]="usuarioModel.password" name="password" class="form-control" id="inputPassword4" required minlength="6">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Ingresar</button>
                            </div>
                        </form>
                    </article>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>