<navTab-admin></navTab-admin>

<div class="content-wrapper">
    <div class="card">
        <article class="card-body animated animate__animated fadeIn">
            <h6>Validar ofertas laborales</h6>
            <hr>

            <!-- <form (ngSubmit)="filtrarOfertas(fFiltrarOfertas)" #fFiltrarOfertas="ngForm"> -->
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="inputName">Fecha</label>
                        <input type="date" class="form-control" name="fecha">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="inputStatus">Estado</label>
                        <select class="form-control custom-select" name="estado">
                                <option selected="" disabled=""></option>
                                <option value="1">Revisado</option>
                                <option value="9">No validados</option>
                                <option value="2">Validado</option>
                                <option value="3">Publicado</option>
                                <option value="4">Finalizado</option>
                            </select>
                    </div>
                </div>
                <div class="col-2">
                    <label for="inputStatus">Reiniciar</label>
                    <div class="form-group ">
                        <button type="button" (click)="reiniciarValoresTablaOfertas()" class="btn btn-outline-primary"><i class="fas fa-redo-alt"></i></button>
                    </div>
                </div>
                <div class="col-2">
                    <label for="inputStatus">PDF</label>
                    <div class="form-group ">
                        <button type="button" class="btn btn-outline-success" (click)="generatePdf()"><i class="far fa-file-pdf"></i></button>
                    </div>
                </div>
            </div>
            <table id="tablaOfertasLaborales" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th style="width: 5px">#</th>
                        <th>Fecha</th>
                        <th>Oferta Laboral</th>
                        <th>Estado</th>
                        <th>#Postulantes</th>
                        <th>#Desvinculados</th>
                        <th style="width: 5px">#No contratados</th>
                        <th style="width: 5px">#Contratados</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reporteOfertaEstudiante of intanciaReporte;let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ reporteOfertaEstudiante.updatedAtOferta | date: 'yyyy/MM/dd'}}</td>
                        <td>{{ reporteOfertaEstudiante.puesto}}</td>
                        <td>
                            <span *ngIf="(reporteOfertaEstudiante.obervaciones).length==0 && reporteOfertaEstudiante.estadoValidacionOferta==1" class="badge badge-danger " title="Tiempo máximo para validar es de 72 horas"><i class="far fa-clock"></i> No validado</span>
                            <span *ngIf="(reporteOfertaEstudiante.obervaciones).length>0 && reporteOfertaEstudiante.estadoValidacionOferta==2" class="badge badge-success ">Validado</span>
                            <span *ngIf="reporteOfertaEstudiante.estadoValidacionOferta==3" class="badge badge-primary ">Publicado</span>
                            <span *ngIf="reporteOfertaEstudiante.estadoValidacionOferta==4" class="badge badge-secondary">Finalizada</span>
                            <span *ngIf="(reporteOfertaEstudiante.obervaciones).length>0 && reporteOfertaEstudiante.estadoValidacionOferta==1" class="badge badge-warning">Revisado</span>
                        </td>
                        <td>
                            <span class="badge badge-primary">{{ reporteOfertaEstudiante.numeroPostulantes }}</span>
                        </td>
                        <td>
                            <span class="badge badge-danger"> {{ reporteOfertaEstudiante.desvinculados }}</span>
                        </td>
                        <td>
                            <span class="badge badge-warning">{{ reporteOfertaEstudiante.noContratados }}</span>

                        </td>
                        <td>
                            <span class="badge badge-success">{{ reporteOfertaEstudiante.contratados }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>