<navTab-admin></navTab-admin>

<div class="content-wrapper">
    <div class="card">
        <article class="card-body animated animate__animated fadeIn">
            <h6>Validar ofertas laborales</h6>
            <hr>
            <form (ngSubmit)="filtrarOfertas(fFiltrarOfertas)" #fFiltrarOfertas="ngForm">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="inputName">De </label>
                            <input type="date" class="form-control" name="de" [(ngModel)]="instanciaFiltro.de" required>
                            <span class="text-danger" *ngIf="fFiltrarOfertas.submitted && fFiltrarOfertas.controls['de'].errors">Debe seleccionar fecha</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="inputName">Hasta </label>
                            <input type="date" class="form-control" name="hasta" [(ngModel)]="instanciaFiltro.hasta" required>
                            <span class="text-danger" *ngIf="fFiltrarOfertas.submitted && fFiltrarOfertas.controls['hasta'].errors">Debe seleccionar fecha</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="inputStatus">Estado</label>
                            <select class="form-control custom-select" name="estado" [(ngModel)]="instanciaFiltro.estado" required>
                                <option selected="" disabled></option>
                                <!-- <option value="0">Todo</option> -->
                                <option value="1">Revisado</option>
                                <option value="9">No validados</option>
                                <option value="2">Validado</option>
                                <option value="3">Publicado</option>
                                <option value="4">Finalizado</option>
                            </select>
                            <span class="text-danger" *ngIf="fFiltrarOfertas.submitted && fFiltrarOfertas.controls['estado'].errors">Debe seleccionar estado</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <label for="inputStatus">Filtrar</label>
                        <div class="form-group ">
                            <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                        </div>
                    </div>

                    <div class="col-2">
                        <label for="inputStatus">PDF</label>
                        <div class="form-group ">
                            <button type="button" class="btn btn-outline-success" (click)="generatePdf()"><i class="far fa-file-pdf"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <table id="tablaOfertasLaborales" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th class="col">#</th>
                        <th class="col">Fecha</th>
                        <th class="col">Oferta Laboral</th>
                        <th class="col">Estado</th>
                        <th class="col">#Postulantes</th>
                        <th class="col">#Desvinculados</th>
                        <th class="col">#No contratados</th>
                        <th class="col">#Contratados</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reporteOfertaEstudiante of intanciaReporte;let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ reporteOfertaEstudiante.updatedAtOferta | date: 'yyyy/MM/dd'}}</td>
                        <td>{{ reporteOfertaEstudiante.puesto}}</td>
                        <td>
                            <span *ngIf="(reporteOfertaEstudiante.obervaciones).length==0 && reporteOfertaEstudiante.estadoValidacionOferta==1" class="badge badge-danger " title="Tiempo máximo para validar es de 72 horas"><i class="far fa-clock"></i> No validado</span>
                            <span *ngIf="(reporteOfertaEstudiante.obervaciones).length>0 && reporteOfertaEstudiante.estadoValidacionOferta==2" class="badge badge-success ">Validado</span>
                            <span *ngIf="reporteOfertaEstudiante.estadoValidacionOferta==3" class="badge badge-primary ">Publicado</span>
                            <span *ngIf="reporteOfertaEstudiante.estadoValidacionOferta==4" class="badge badge-secondary">Finalizada</span>
                            <span *ngIf="(reporteOfertaEstudiante.obervaciones).length>0 && reporteOfertaEstudiante.estadoValidacionOferta==1" class="badge badge-warning">Revisado</span>
                        </td>
                        <td>
                            <span class="badge badge-primary">{{ reporteOfertaEstudiante.numeroPostulantes }}</span>
                        </td>
                        <td>
                            <span class="badge badge-danger"> {{ reporteOfertaEstudiante.desvinculados }}</span>
                        </td>
                        <td>
                            <span class="badge badge-warning">{{ reporteOfertaEstudiante.noContratados }}</span>

                        </td>
                        <td>
                            <span class="badge badge-success">{{ reporteOfertaEstudiante.contratados }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>