<navTab-admin></navTab-admin>

<div class="content-wrapper">
    <div class="card">
        <article class="card-body animated animate__animated fadeIn">
            <h6>Validar ofertas laborales</h6>
            <hr>

            <!-- <form (ngSubmit)="filtrarOfertas(fFiltrarOfertas)" #fFiltrarOfertas="ngForm"> -->
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="inputName">Fecha</label>
                        <input type="date" class="form-control" (change)="saverange($event)" name="fecha">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="inputStatus">Estado</label>
                        <select class="form-control custom-select" (change)="saverange($event)" name="estado">
                                <option selected="" disabled=""></option>
                                <option value="1">Revisado</option>
                                <option value="9">No validados</option>
                                <option value="2">Validado</option>
                                <option value="3">Publicado</option>
                                <option value="4">Finalizado</option>
                            </select>
                    </div>
                </div>
                <div class="col-2">
                    <label for="inputStatus">Reiniciar</label>
                    <div class="form-group ">
                        <button type="button" (click)="reiniciarValoresTablaOfertas()" class="btn btn-outline-primary"><i class="fas fa-redo-alt"></i></button>
                    </div>
                </div>
                <div class="col-2">
                    <label for="inputStatus">PDF</label>
                    <div class="form-group ">
                        <button type="button" class="btn btn-outline-success" (click)="generatePdf()"><i class="far fa-file-pdf"></i></button>
                    </div>
                </div>
            </div>
            <table id="tablaOfertasLaborales" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th style="width: 5px">#</th>
                        <th>Fecha</th>
                        <th>Oferta Laboral</th>
                        <th>Estado</th>
                        <th>Postulantes</th>
                        <th>Rechazados</th>
                        <th>Contratados</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ofertaLaboral of ofertasLaborales;let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ ofertaLaboral.updated_at | date: 'yyyy/MM/dd'}}</td>
                        <td>{{ ofertaLaboral.puesto}}</td>
                        <td *ngIf="estadoRevision(ofertaLaboral.obervaciones)==false && estadoConversion(ofertaLaboral.estado)==false  ">
                            <span class=" badge badge-danger " title="Tiempo máximo para validar es de 72 horas"><i class="far fa-clock"></i> No validado</span>
                        </td>
                        <td *ngIf="estadoRevision(ofertaLaboral.obervaciones)==true && estadoConversion(ofertaLaboral.estado)==true">
                            <span class="badge badge-success ">Validado</span>
                        </td>
                        <td *ngIf="ofertaLaboral.estado.toLocaleString()=='3'">
                            <span class="badge badge-primary ">Publicado</span>
                        </td>
                        <td *ngIf="ofertaLaboral.estado==4">
                            <span class="badge badge-secondary">Finalizada</span>
                        </td>
                        <td *ngIf="estadoRevision(ofertaLaboral.obervaciones)==true && estadoConversion(ofertaLaboral.estado)==false">
                            <span class="badge badge-warning">Revisado</span>
                        </td>
                        <td *ngIf="estadoRevision(ofertaLaboral.obervaciones)==true && estadoConversion(ofertaLaboral.estado)==false">
                            <span class="badge badge-warning">Revisado</span>
                        </td>
                        <td *ngIf="estadoRevision(ofertaLaboral.obervaciones)==true && estadoConversion(ofertaLaboral.estado)==false">
                            <span class="badge badge-warning">Revisado</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>