<navTab-admin></navTab-admin>
<div class="content-wrapper">
    <h6 class="container mt-4">Encuestas</h6>
    <hr>
    <div class="col-2 mt-2">
        <a class="float-right btn btn-outline-primary" [routerLink]="['/panel-admin/form-encuesta']">
            <i class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
    </div>
    <div class="card">
        <article class="card-body animated animate__animated fadeIn">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha de creación</th>
                        <th>Nombre de la encuesta</th>
                        <th>Tipo de encuesta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2020-10-11</td>
                        <td>Encuesta empleador</td>
                        <td>Empleador</td>
                    </tr>
                </tbody>
            </table>

        </article>
    </div>
</div>

<!-- Full screen modal -->
<div class="modal fade" id="mostrarForm" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pdfModalLabel">PDF</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="977" height="733" [src]="ubicacionArchivo|domseguro " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        
                    </iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>