<navTab-admin></navTab-admin>
<div class="content-wrapper">
    <div class="card">
        <h6 class="container mt-4">Títulos Académicos</h6>
        <hr>
        <div class="col-2 mt-2">
            <a class="float-right btn btn-outline-primary" [routerLink]="['/panel-admin/form-encuesta']">
                <i class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
        </div>
        <article class="card-body animated animate__animated fadeIn">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha de creación</th>
                        <th>Nombre de la encuesta</th>
                        <th>Tipo de encuesta</th>
                        <th>Añadir Preguntas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of arrayEncuestas;let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ item.created_at | date :'yyyy-MM-dd' }}</td>
                        <td>{{ item.nombre_encuesta }}</td>
                        <td>
                            <p *ngIf="item.tipo_encuesta==0">Postulante</p>
                            <p *ngIf="item.tipo_encuesta==1">Empleador</p>
                        </td>
                        <td>
                            <button class="btn btn-light" [routerLink]="[ '/panel-admin/preguntas'] ">
                                <i class="fas fa-chevron-right "></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>

<!-- Full screen modal -->
<!-- <div class="modal fade" id="mostrarForm" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pdfModalLabel">PDF</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="977" height="733" [src]="ubicacionArchivo|domseguro " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        
                    </iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->