<navTab-admin></navTab-admin>
<div class="container ">

    <p>Tareas pendientes</p>

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido </th>
                <th>Cedula</th>
                <th>Estado Validacion</th>
                <th>Observaciones</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let estudiantes of estudiante;let i=index">
                <td>{{ i+1 }}</td>
                <td>{{ estudiantes.nombre }}</td>
                <td>{{ estudiantes.apellido }}</td>
                <td>{{ estudiantes.cedula }}</td>
                <td *ngIf="estadoRevision(estudiantes.observaciones)==false && estadoConversion(estudiantes.estado)==false"><span class=" badge badge-danger ">No validado</span></td>
                <td *ngIf="estadoRevision(estudiantes.observaciones)==true && estadoConversion(estudiantes.estado)==true "><span class="badge badge-success ">Validado</span></td>
                <td *ngIf="estadoRevision(estudiantes.observaciones)==true && estadoConversion(estudiantes.estado)==false "><span class="badge badge-warning">Revisado</span></td>
                <td>{{ estudiantes.observaciones }}</td>
                <td>
                    <button type="button " class="btn btn-primary " [routerLink]="[ '/panel-admin/tareas/postulante',estudiantes.external_es] "><i class="fas fa-chevron-right "></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>