<navTab-admin></navTab-admin>
<div class="content-wrapper">
    <div class="card">
        <h6 class="container mt-4">Gestionar Usuarios</h6>
        <hr>
        <div class="col-2 mt-2">
            <a class="float-right btn btn-outline-primary" [routerLink]="['/panel-admin/registar-admin']">
                <i class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
        </div>
        <article class="card-body animated animate__animated fadeIn">

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Creado</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Tipo de Usuario</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let docentes of arrayDocentes;let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ docentes.updated_at | date: 'yyyy/MM/dd' }}</td>
                        <td>{{ docentes.nombre }}</td>
                        <td>{{ docentes.apellido }}</td>
                        <td>{{ docentes.correo }}</td>
                        <td>
                            <span class="badge bg-info text-dark" *ngIf="docentes.tipoUsuario==3">Secretaria</span>
                            <span class="badge bg-primary" *ngIf="docentes.tipoUsuario==5">Encargado</span>
                            <span class="badge bg-success" *ngIf="docentes.tipoUsuario==4">Admin</span>
                        </td>
                        <td>
                            <span class="badge bg-success" *ngIf="docentes.estado==1">Activo</span>
                            <span class="badge bg-danger" *ngIf="docentes.estado==0">Inactivo</span>
                        </td>
                        <td>
                            <a class="btn btn-light" [routerLink]="[ '/panel-admin/editar-admin/',docentes.external_us] "><i class="fas fa-pencil-alt " ></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>

<!-- ========= FOOTER =========== -->
<!-- ========= FOOTER =========== -->
<app-footer></app-footer>
