<navTab-admin></navTab-admin>
<div class="container">
    <p>Tareas pendientes</p>
    <table datatable class="row-border hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido </th>
                <th>Cedula</th>
                <th>Ver mas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Foo</td>
                <td>Bar</td>
                <td>Foo</td>
                <td>Bar</td>
            </tr>
        </tbody>
    </table>

</div>

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    });
</script> -->