<div class="container mt-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" [routerLink]="['/panel-empleador/mi-perfil']">Mi Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/panel-empleador/form-info-empleador']">Formulario de registro</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/panel-empleador/publicar-ofertas']">Formulario de registro</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/panel-empleador/oferta-laboral']">Ofertas publicadas</a>
        </li>
    </ul>
</div>