<!-- <navTab-postulante></navTab-postulante> -->

<div class="container mt-5 mb-5">

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
            <tr>
                <th>Ofertas Laborales</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ofertaLaboral of ofertasLaborales;let i=index">
                <td>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="post">
                                            <div class="user-block">
                                                <img class="img-circle img-bordered-sm" src="{{ dominio.dominio }}/Archivos/images/empresa.png" alt="user image">
                                                <span class="username"><a href="#">{{ ofertaLaboral.razon_empresa }}</a></span>
                                                <span class="description">Shared publicly - 7:45 PM today</span>
                                            </div>
                                            <!-- /.user-block -->
                                            <p>
                                                {{ ofertaLaboral.descripcion }}
                                            </p>
                                            <div class=" mt-2 mb-2">
                                                <a href="#" class="btn btn-sm btn-primary" (click)="abrirModal()">Postular</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                                <h5 class=" text-muted">Requisitos</h5>
                                <p id="{{ i }}">{{pintarRequisitos(i) }} </p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>