<div class="container mt-5">
    <div class="card animated animate__animated animate__slideInRight">
        <h6>Preseleccionar Postulantes</h6>
        <hr>
        <div class="col-2 mt-3 mb-3">
            <a class="float-right btn btn-outline-primary" [routerLink]="['/panel-admin/validar-oferta-laboral']">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</a>
        </div>
        <div class="alert alert-light text-center" role="alert" *ngIf="!existeRegistros">
            <i class="fas fa-exclamation-triangle"></i> No existe registros para mostrar
        </div>
        <div *ngIf="existeRegistros">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha postulación</th>
                        <th scope="col">Postulante</th>
                        <th scope="col">Hoja de vida</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Postulando</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let postulantes of arrayPostulante; index as i">
                        <th scope="row">{{ i+1 }}</th>
                        <td>{{ postulantes.created_at| date: 'yyy/MM/dd' }}</td>
                        <td>{{ postulantes.nombre }} {{ postulantes.apellido }}</td>
                        <td>
                            <a class="btn btn-light" (click)="verHojaVidaModal(i)"> <i class="fas fa-eye"></i></a>
                        </td>
                        <td>{{ postulantes.correo }}</td>
                        <td>
                            <input class="form-check-input me-1" type="checkbox" (change)="check($event,postulantes.fk_estudiante,postulantes.fk_oferta_laboral,postulantes.external_of_est,postulantes.external_es)" [checked]="postulantes.estado=='1'" [value]="postulantes.estado">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="filtrarPostulante()">Guardar</button>
            </div>
        </div>
    </div>






    <!-- Full screen modal -->
    <div class="modal fade" id="mostrarHojaVida" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link" href="#activity" data-toggle="tab">Información personal</a></li>
                                    <li class="nav-item"><a class="nav-link active" href="#cursosCapacitaciones" data-toggle="tab">Cursos y Capacitaciones</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#titulosAcademicos" data-toggle="tab">Títulos Academicos</a></li>
                                </ul>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane" id="activity">

                                        <div class="card-header text-muted border-bottom-0">
                                            Postulante
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="lead"><b>{{ instanciaVerPostulante.nombre }} {{ instanciaVerPostulante.apellido }}</b></h2>

                                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                                        <li class="small" *ngIf=" instanciaVerPostulante.genero== 0 ">
                                                            <span class="fa-li"><i class="fas fa-venus-mars"></i></span> Género: Hombre
                                                        </li>
                                                        <li class="small" *ngIf=" instanciaVerPostulante.genero== 1 ">
                                                            <span class="fa-li"><i class="fas fa-venus-mars"></i></span> Género: Mujer
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Teléfono #: {{ instanciaVerPostulante.telefono }}</li>
                                                        <li class="small">
                                                            <span class="fa-li"><i class="fas fa-id-card"></i></span> Cédula: {{ instanciaVerPostulante.cedula }}
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li"><i class="fas fa-map-marker-alt"></i></span> Dirección de domicilio: {{ instanciaVerPostulante.direccion_domicilio }}
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li"><i class="fas fa-envelope"></i></span> Correo: {{ instanciaVerPostulante.correo }}
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-5 text-center">
                                                    <img src="../../dist/img/user1-128x128.jpg" alt="" class="img-circle img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane active" id="cursosCapacitaciones">
                                        <app-tabla-cursos-capacitaciones [instanciaCursosCapacitaciones]="arrayCursosCapacitaciones"></app-tabla-cursos-capacitaciones>
                                    </div>
                                    <!-- /.tab-pane -->

                                    <div class="tab-pane" id="titulosAcademicos">
                                        <app-tabla-titulos-academicos [tituloAcademico]="arrayTitulosAcademicos"></app-tabla-titulos-academicos>
                                        <!-- /.tab-pane -->
                                    </div>
                                    <!-- /.tab-content -->
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.nav-tabs-custom -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Full screen modal -->
        <div class="modal fade" id="mostrarPDF" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="pdfModalLabel">PDF</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="977" height="733" [src]="ubicacionArchivo|domseguro " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                
                            </iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>