<navTab-postulante></navTab-postulante>
<div class="container mt-5">
    <div class="col-3 mb-3">
        <a class="float-right btn btn-outline-primary" [routerLink]="['/panel-postulante/add-curso-capacitacion']">
            <i class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
    </div>
    <div class="card">
        <article class="card-body animated animate__animated animate__slideInRight">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del evento</th>
                        <th>Auspiciante</th>
                        <th>Horas</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Evento</th>
                        <th>País</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cursoCapatiacionesArray of cursosCapacitaciones;let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{cursoCapatiacionesArray.nom_evento }}</td>
                        <td>{{cursoCapatiacionesArray.auspiciante }}</td>
                        <td>{{cursoCapatiacionesArray.horas }}</td>
                        <td>{{cursoCapatiacionesArray.fecha_inicio }}</td>
                        <td>{{cursoCapatiacionesArray.fecha_culminacion }}</td>
                        <td *ngIf="(cursoCapatiacionesArray.tipo_evento).toString()=='1' ">Curso</td>
                        <td *ngIf="(cursoCapatiacionesArray.tipo_evento).toString()=='2' ">Capacitacion</td>
                        <td>{{ paises[cursoCapatiacionesArray.fk_pais]?.nombre}}</td>
                        <td>
                            <a class="btn btn-light " href="http://localhost/Tesis/Archivos/Cursos/{{ cursoCapatiacionesArray.evidencia_url }} " target="alt "><i class="far fa-file-pdf " ></i></a>
                            <a class="btn btn-light " [routerLink]="[ '/panel-postulante/edit-curso-capacitacion',cursoCapatiacionesArray.external_cu] "><i class="fas fa-pencil-alt " ></i></a>
                            <a class="btn btn-light " (click)="eliminarCursosCapacitaciones(cursoCapatiacionesArray.external_cu,cursoCapatiacionesArray.nom_evento,cursoCapatiacionesArray.evidencia_url,i)"><i class="fas fa-trash-alt "></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </article>
    </div>

</div>