<navTab-admin></navTab-admin>

<div class="content-wrapper">
    <div class="card">
        <article class="card-body animated animate__animated fadeIn">
            <h6>Validar ofertas laborales</h6>
            <hr>

            <form (ngSubmit)="filtrarOfertas(fFiltrarOfertas)" #fFiltrarOfertas="ngForm">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="inputName">De </label>
                            <input type="date" class="form-control" name="de" [(ngModel)]="instanciaFiltro.de" required>
                            <span class="text-danger" *ngIf="fFiltrarOfertas.submitted && fFiltrarOfertas.controls['de'].errors">Debe seleccionar fecha</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="inputName">Hasta </label>
                            <input type="date" class="form-control" name="hasta" [(ngModel)]="instanciaFiltro.hasta" required>
                            <span class="text-danger" *ngIf="fFiltrarOfertas.submitted && fFiltrarOfertas.controls['hasta'].errors">Debe seleccionar fecha</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="inputStatus">Estado</label>
                            <select class="form-control custom-select" name="estado" [(ngModel)]="instanciaFiltro.estado" required>
                                <option selected="" disabled></option>
                                <!-- <option value="0">Todo</option> -->
                                <option value="1">Revisado</option>
                                <option value="9">No validados</option>
                                <option value="2">Validado</option>
                                <option value="3">Publicado</option>
                                <option value="4">Finalizado</option>
                            </select>
                            <span class="text-danger" *ngIf="fFiltrarOfertas.submitted && fFiltrarOfertas.controls['estado'].errors">Debe seleccionar estado</span>
                        </div>
                    </div>
                    <div class="col-1">
                        <label for="inputStatus">Filtrar</label>
                        <div class="form-group ">
                            <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <label for="inputStatus">Reiniciar</label>
                    <div class="form-group ">
                        <button type="button" class="btn btn-outline-primary" (click)="reiniciarValoresTablaOfertas()"><i class="fas fa-undo-alt"></i></button>
                    </div>
                </div>
            </form>
            <table id="tablaOfertasLaborales" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th style="width: 5px">#</th>
                        <th>Fecha</th>
                        <th>Oferta Laboral</th>
                        <th>Estado</th>
                        <th>Ver</th>
                        <th>Validar Oferta</th>
                        <th title="Preseleccionar Postulantes">
                            Preseleccionar
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ofertaLaboral of ofertasLaborales;let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ ofertaLaboral.updated_at | date: 'yyyy/MM/dd'}}</td>
                        <td>{{ ofertaLaboral.puesto}}</td>
                        <td *ngIf="estadoRevision(ofertaLaboral.obervaciones)==false && estadoConversion(ofertaLaboral.estado)==false  ">
                            <span class=" badge badge-danger " title="Tiempo máximo para validar es de 72 horas"><i class="far fa-clock"></i> No validado</span>
                        </td>
                        <td *ngIf="estadoRevision(ofertaLaboral.obervaciones)==true && estadoConversion(ofertaLaboral.estado)==true">
                            <span class="badge badge-success ">Validado</span>
                        </td>
                        <td *ngIf="ofertaLaboral.estado.toLocaleString()=='3'">
                            <span class="badge badge-primary ">Publicado</span>
                        </td>
                        <td *ngIf="ofertaLaboral.estado==4">
                            <span class="badge badge-secondary">Finalizada</span>
                        </td>
                        <td *ngIf="estadoRevision(ofertaLaboral.obervaciones)==true && estadoConversion(ofertaLaboral.estado)==false">
                            <span class="badge badge-warning">Revisado</span>
                        </td>
                        <td>
                            <a class="btn btn-light" (click)="verOfertaModal(i)"> <i class="fas fa-eye"></i></a>
                        </td>
                        <td>
                            <a class="btn btn-light" [routerLink]="['/panel-admin/form-validar-ofertaLaboral',ofertaLaboral.external_of] ">
                                <i class="fas fa-chevron-right "></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-light" [routerLink]="['/panel-admin/filtrar-postulantes',ofertaLaboral.external_of] ">
                                <i class="fas fa-chevron-right "> </i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>

<!-- Modal  VISUALIZAR OFERTA LABORAL-->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-ver-oferta-laboral [instanciaOfertaVer]="instanciaOfertaVer"></app-ver-oferta-laboral>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>