<div class="container mt-5 animate__animated    animate__slideInRight">
    <div class="card ">
        <div class="col-2">
            <a [routerLink]="[ '/panel-admin/gestionar-usuarios-admin/'] " class="float-right btn btn-outline-primary ">
                <i class="fa fa-arrow-left " aria-hidden="true "></i> Regresar</a>
        </div>
        <article class="card-body ">
            <h3>Registrar Administrador</h3>
            <hr>
            <form class="row g-3 " (ngSubmit)="onSubmitRegistrarAdmin(fRegistrarAdmin) " #fRegistrarAdmin="ngForm">
                <div class="col-md-6 ">
                    <label for="inputEmail4 " class="form-label ">Nombre</label><br>
                    <input type="texto"
                           [(ngModel)]="instanciaDocente.nombre"
                           name="nombre"
                           maxlength="20"
                           placeholder="Ingrese el nombre"
                           [ngClass]="{'is-invalid': fRegistrarAdmin.submitted && fRegistrarAdmin.controls['nombre'].errors }"
                           class="form-control"
                           required>
                    <div class="invalid-feedback"
                      *ngIf="fRegistrarAdmin.submitted && fRegistrarAdmin.controls['nombre'].errors">
                      El campo nombre es obligatorio
                    </div>
                </div>
                <div class="col-md-6 ">
                    <label for="inputEmail4 " class="form-label ">Apellido</label><br>
                    <input type="text"
                          [(ngModel)]="instanciaDocente.apellido"
                          name="apellido"
                          maxlength="20"
                          [ngClass]="{'is-invalid': fRegistrarAdmin.submitted && fRegistrarAdmin.controls['apellido'].errors }"
                          placeholder="Ingrese el apellido"
                          class="form-control"
                          required>
                    <div class="invalid-feedback"
                      *ngIf="fRegistrarAdmin.submitted && fRegistrarAdmin.controls['apellido'].errors">
                      El campo apellido es obligatorio
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group ">
                        <label for="exampleFormControlTextarea1 ">Correo</label><br>
                        <input type="text"
                               [(ngModel)]="instanciaDocente.correo"
                               name="correo"
                               placeholder="Ingrese un correo"
                               [ngClass]="{'is-invalid': fRegistrarAdmin.submitted && fRegistrarAdmin.controls['correo'].errors }"
                               class="form-control"
                               required>
                        <div class="invalid-feedback" *ngIf="fRegistrarAdmin.submitted && (fRegistrarAdmin.controls['correo'].value)==null">
                          El campo correo es requerido
                        </div>
                        <div class="invalid-feedback" *ngIf="fRegistrarAdmin.submitted && fRegistrarAdmin.controls['correo'].invalid==true && (fRegistrarAdmin.controls['correo'].value)!=null">
                          El correo ingresado no es valido
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <label for="inputEmail4 " class="form-label ">Contraseña</label><br>
                    <input type="password"
                           [(ngModel)]="instanciaDocente.password"
                           name="password"
                           [ngClass]="{'is-invalid': fRegistrarAdmin.submitted && fRegistrarAdmin.controls['password'].errors }"
                           class="form-control"
                           required
                           maxlength="10">
                    <div class="invalid-feedback" *ngIf="fRegistrarAdmin.submitted && fRegistrarAdmin.controls['password'].errors">
                      La contraseña es requerida
                    </div>
                </div>
                <div class=" col-md-6 ">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1 ">Estado</label><br>
                        <button type="button" class="btn btn-outline-danger" *ngIf="estadoAcestadoUsuariotivo==false" (click)="estadoUsuarioAdmin(1) "><i class="fas fa-times-circle "></i>No Activo</button>
                        <button type="button" class="btn btn-outline-success" *ngIf="estadoAcestadoUsuariotivo==true" (click)="estadoUsuarioAdmin(0) "><i class="fas fa-check "></i> Activo</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Tipo Usuario</label><br>
                    <select class="form-control"
                            name="tipoUsuario"
                            [ngClass]="{'is-invalid': fRegistrarAdmin.submitted && fRegistrarAdmin.controls['tipoUsuario'].errors }"
                            [(ngModel)]="instanciaDocente.tipoUsuario"
                            required>
                        <option [value]="3" >Secretaria</option>
                        <option [value]="4" >Administrador</option>
                        <option [value]="5" >Encargado</option>
                      </select>
                      <div class="invalid-feedback" *ngIf="fRegistrarAdmin.submitted && fRegistrarAdmin.controls['tipoUsuario'].errors">
                        La contraseña es requerida
                      </div>
                </div>
                <div class="col-12 ">
                    <button type="submit " class="btn btn-primary ">Registrar</button>
                </div>
            </form>
        </article>
    </div>

</div>
