<navTab-admin></navTab-admin>
<div class="content-wrapper">
    <h6 class="container mt-4">Encuestas</h6>
    <hr>
    <div class="col-2 mt-2">
        <a class="float-right btn btn-outline-primary" (click)="crearEncuesta()">
            <i class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
    </div>
    <div class="card">
        <article class="card-body animated animate__animated fadeIn">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha de creación</th>
                        <th>Nombre de la encuesta</th>
                        <th>Tipo de encuesta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2020-10-11</td>
                        <td>Encuesta empleador</td>
                        <td>Empleador</td>
                    </tr>
                </tbody>
            </table>

        </article>
    </div>
</div>