<navTab-empleador></navTab-empleador>

<div class="content-wrapper">
    <div class="alert alert-warning" role="alert" *ngIf="obervaciones==false && booleanFormularioCompletado==true">
        Registro de postulacion en proceso de validación, en 72 horas se notificara su aprobación
    </div>
    <div class=" animated fadeIn" *ngIf="booleanFormularioCompletado==true">
        <div class="card">
            <article class="card-body">
                <form class="row g-3" (ngSubmit)="onSubmitFormularioEmpleadorEditar(fEmpleador)" #fEmpleador="ngForm">
                    <!-- // ======= SI EL FORMULARIO HA SIDO REVISADO POR LA SECREATARIA Y SU ESTADO DE VALIDACION ES TRUE ===============// -->
                    <div class="alert alert-success" role="alert" *ngIf="formValidado==true && obervaciones==true">
                        <h4 class="alert-heading">Validacion exitosa </h4>
                        <p>Tu validacion ha sido exitosa, por lo cual ya puedes publicar las ofertas laborales en la plataformas</p>
                        <hr>
                        <p class="mb-0">Obersvaciones: {{ instanciaEmpleador.observaciones }}</p>
                    </div>
                    <!-- // ======= SI EL FORMULARIO HA SIDO REVISADO POR LA SECREATARIA Y SU ESTADO DE VALIDACION ES FALSE  ===============// -->
                    <div class="alert alert-warning" role="alert" *ngIf="formValidado==false && obervaciones==true">
                        <h4 class="alert-heading">Validacion no exitosa </h4>
                        <p>{{ instanciaEmpleador.observaciones }}</p>
                        <hr>
                        <p class="mb-0">Por favor vuelte a intentar</p>
                    </div>
                    <h3>Registro de Empleador</h3>
                    <div class="col-3">
                        <a [routerLink]="['/panel-empleador/mi-perfil']" class="float-right btn btn-outline-success">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar a mi perfil </a>
                    </div>

                    <hr>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Razón social de la empresa</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['razonSocial'].errors">La razón social de la empresa es obligatorio</span>
                        <input type="texto" [(ngModel)]="instanciaEmpleador.razon_empresa" name="razonSocial" class="form-control" required [disabled]="obervaciones==false || formValidado==true">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Tipo de institución o empresa</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['tipoEmpresa'].errors">El tipo de institución o empresa es obligatorio</span>
                        <input type="text" [(ngModel)]="instanciaEmpleador.tiposEmpresa" name="tipoEmpresa" class="form-control" required [disabled]="obervaciones==false || formValidado==true">
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Actividad económica inscrita en el RUC</label><br>
                            <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['actividadRuc'].errors">La Actividad económica inscrita en el RUC es obligatorio</span>
                            <textarea class="form-control" [(ngModel)]="instanciaEmpleador.actividad_ruc" name="actividadRuc" rows="3" required [disabled]="obervaciones==false || formValidado==true"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Numero de RUC</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['numeroRuc'].errors">El Numero de RUC es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleador.num_ruc" name="numeroRuc" class="form-control" required [disabled]="obervaciones==false || formValidado==true">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Cedula de identidad del representante legal</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['cedula'].errors">El numero de cedula es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleador.cedula" name="cedula" class="form-control" required max="10" [disabled]="obervaciones==false || formValidado==true">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Nombre del representante legal</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['nomRepresentanteLegal'].errors">El nombre del representante es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleador.nom_representante_legal" name="nomRepresentanteLegal" class="form-control" required [disabled]="obervaciones==false || formValidado==true">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Provincia</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['provincia'].errors">La provinicia es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleador.provincia" name="provincia" class="form-control" required [disabled]="obervaciones==false || formValidado==true">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Ciudad</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['ciudad'].errors">La ciudad es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleador.ciudad" name="ciudad" class="form-control" required [disabled]="obervaciones==false || formValidado==true">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Telefono de Nacimiento</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['telefono'].errors">La fecha es obligatorio</span>
                        <input type="text" [ngModel]='instanciaEmpleador.telefono' name="telefono" class="form-control" required [disabled]="obervaciones==false || formValidado==true">
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Dirección de domicilio o laboral</label><br>
                            <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['direcionDomicilio'].errors">La direccion es obligatorio</span>
                            <textarea class="form-control" [(ngModel)]="instanciaEmpleador.direccion" name="direcionDomicilio" required [disabled]="obervaciones==false || formValidado==true"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" [disabled]="obervaciones==false || formValidado==true">Reenviar</button>
                    </div>
                </form>
            </article>
        </div>
    </div>
    <!-- ============= SI NO LLENA EL FORMUALRIO ENTONCES SE PRESENTA EL FORMULARIO VACIO PARA QUE LO REGISTRE =========== -->
    <div class="mt-5 animated fadeIn" style="padding-bottom: 100px;" *ngIf="booleanFormularioCompletado==false">
        <div class="card">
            <article class="card-body">
                <form class="row g-3" (ngSubmit)="onSubmitFormularioEmpledor(fEmpleador)" #fEmpleador="ngForm">
                    <h3>Registro de Empleador</h3>

                    <div class="col-3">
                        <a [routerLink]="['/panel-postulante/mi-perfil']" class="float-right btn btn-outline-success">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar a mi perfil </a>
                    </div>

                    <hr>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Razón social de la empresa</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['razonSocial'].errors">La razón social de la empresa es obligatorio</span>
                        <input type="texto" [(ngModel)]="instanciaEmpleador.razon_empresa" name="razonSocial" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Tipo de institución o empresa</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['tipoEmpresa'].errors">El tipo de institución o empresa es obligatorio</span>
                        <input type="text" [(ngModel)]="instanciaEmpleador.tiposEmpresa" name="tipoEmpresa" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Actividad económica inscrita en el RUC</label><br>
                            <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['actividadRuc'].errors">La Actividad económica inscrita en el RUC es obligatorio</span>
                            <textarea class="form-control" [(ngModel)]="instanciaEmpleador.actividad_ruc" name="actividadRuc" rows="3" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Numero de RUC</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['numeroRuc'].errors">El Numero de RUC es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleador.num_ruc" name="numeroRuc" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Cedula de identidad del representante legal</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['cedula'].errors">El numero de cedula es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleador.cedula" name="cedula" class="form-control" required max="10">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Nombre del representante legal</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['nomRepresentanteLegal'].errors">El nombre del representante es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleador.nom_representante_legal" name="nomRepresentanteLegal" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Provincia</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['provincia'].errors">La provinicia es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleador.provincia" name="provincia" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Ciudad</label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['ciudad'].errors">La ciudad es obligatoria</span>
                        <input type="text" [(ngModel)]="instanciaEmpleador.ciudad" name="ciudad" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Telefono </label><br>
                        <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['telefono'].errors">El Telefono es obligatoria</span>
                        <input type="text" [ngModel]='instanciaEmpleador.telefono' name="telefono" class="form-control" required>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Dirección de domicilio o laboral</label><br>
                            <span class="text-danger " *ngIf="fEmpleador.submitted && fEmpleador.controls['direcionDomicilio'].errors">La direccion es obligatorio</span>
                            <textarea class="form-control" [(ngModel)]="instanciaEmpleador.direccion" name="direcionDomicilio" required></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>

            </article>
        </div>
    </div>

</div>