<div class="container mt-5">
    <div class="card">
        <article class="card-body animated animate__animated animate__slideInRight">
            <form class="row g-3" (ngSubmit)="onSubMitActualizarCursoCapacitacion(fActualizarCursoCapacitacion)" #fActualizarCursoCapacitacion="ngForm" enctype="multipart/form-data">
                <h4>Editar curso o capacitacion</h4>

                <div class="col-sm-3">
                    <a class="float-right btn btn-outline-primary" [routerLink]="['/panel-postulante/cursos-capacitaciones']">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</a>
                </div>
                <hr>
                <div class="col-md-6">
                    <label for="inputNombre del evento" class="form-label">Nombre del evento</label><br>
                    <input type="text"
                          [(ngModel)]="instanciaCursosCapacitaciones.nom_evento"
                          name="nom_evento"
                          maxlength="100"
                          [ngClass]="{'is-invalid': fActualizarCursoCapacitacion.submitted && fActualizarCursoCapacitacion.controls['nom_evento'].errors }"
                          class="form-control"
                          required>
                    <div class="invalid-feedback" *ngIf="fActualizarCursoCapacitacion.submitted && fActualizarCursoCapacitacion.controls['nom_evento'].errors">
                      El campo nombre del evento es obligatorio
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputAuspiciante" class="form-label">Auspiciante</label><br>
                    <input type="text"
                          [(ngModel)]="instanciaCursosCapacitaciones.auspiciante"
                          name="auspiciante"
                          maxlength="100"
                          [ngClass]="{'is-invalid': fActualizarCursoCapacitacion.submitted && fActualizarCursoCapacitacion.controls['auspiciante'].errors }"
                          class="form-control"
                          required>
                    <div class="invalid-feedback" *ngIf="fActualizarCursoCapacitacion.submitted && fActualizarCursoCapacitacion.controls['auspiciante'].errors">
                      El campo auspiciante del evento es obligatorio
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputNumeroHoras" class="form-label">Número de horas</label><br>
                    <input type="number"
                          [(ngModel)]="instanciaCursosCapacitaciones.horas"
                          name="horas"
                          [ngClass]="{'is-invalid': fActualizarCursoCapacitacion.submitted && fActualizarCursoCapacitacion.controls['horas'].errors }"
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          class="form-control"
                          min="1"
                          required>
                    <div class="invalid-feedback" *ngIf="fActualizarCursoCapacitacion.submitted && fActualizarCursoCapacitacion.controls['horas'].errors">
                      El campo número de horas del evento es obligatorio
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="inputFechaInicio" class="form-label">Fecha Inicio</label><br>
                    <span class="text-danger " *ngIf="fActualizarCursoCapacitacion.submitted && fActualizarCursoCapacitacion.controls['fecha_inicio'].errors">La Fecha Inicio es obligatorio</span>
                    <input type="date" [(ngModel)]="instanciaCursosCapacitaciones.fecha_inicio" name="fecha_inicio" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="inputFechaCUlminacion" class="form-label">Fecha de culminacion</label><br>
                    <span class="text-danger " *ngIf="fActualizarCursoCapacitacion.submitted && fActualizarCursoCapacitacion.controls['fecha_culminacion'].errors">La Fecha de culminacion es obligatorio</span>
                    <input type="date" [(ngModel)]="instanciaCursosCapacitaciones.fecha_culminacion" name="fecha_culminacion" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="inputTipoEvento" class="form-label">Tipo de evento</label><br>
                    <span class="text-danger " *ngIf="fActualizarCursoCapacitacion.submitted && fActualizarCursoCapacitacion.controls['tipo_evento'].errors">El Tipo de evento es obligatorio</span>
                    <select class="form-control" name="tipo_evento" [(ngModel)]="instanciaCursosCapacitaciones.tipo_evento" required>
                    <option [value]="i+1"*ngFor="let item of tipoCursoCapcitacion;let i=index">{{item}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputPais" class="form-label">País</label><br>
                    <span class="text-danger " *ngIf="fActualizarCursoCapacitacion.submitted && fActualizarCursoCapacitacion.controls['pais'].errors">El País es obligatorio</span>
                    <select class="form-control" name="pais" [(ngModel)]="instanciaCursosCapacitaciones.fk_pais" required>
                  <option [value]="i+1"*ngFor="let item of paises;let i=index">{{item.nombre}}</option>
                </select>
                </div>
                <div class="col-md-6">
                    <label for="inputEvidencias" class="form-label">Evidencias</label><br>
                    <input type="file" (change)="fileEvent($event)" class="form-control" required accept="application/pdf">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </article>
    </div>

</div>
