<navTab-empleador>
</navTab-empleador>
<div class="content-wrapper">
    <div class="card">
        <h6 class="container mt-2"> Ofertas Laborales</h6>
        <hr>
        <div class="col-2  ml-4">
            <a class=" btn btn-outline-primary" [routerLink]="['/panel-empleador/add-ferta-laboral']">
                <i class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
        </div>
        <article class="card-body animated animate__animated fadeIn">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Puesto</th>
                        <th style="width: 10px">Estado</th>
                        <th>Observaciones</th>
                        <th>Acciones</th>
                        <th>Postulantes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ofertaLaboral of ofertasLaborales;let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ ofertaLaboral.puesto}}</td>
                        <td *ngIf="estadoRevision(ofertaLaboral.obervaciones)==false && (ofertaLaboral.estado).toString()=='1'">
                            <span class=" badge badge-danger " title="Tiempo máximo de espera 72 horas">No validado <i class="far fa-clock"></i></span>
                        </td>
                        <td *ngIf="estadoRevision(ofertaLaboral.obervaciones)==true && (ofertaLaboral.estado).toString()=='2' ">
                            <span class="badge badge-success ">Validado</span>
                        </td>
                        <td *ngIf="estadoRevision(ofertaLaboral.obervaciones)==true && (ofertaLaboral.estado).toString()=='1' ">
                            <span class="badge badge-warning">Revisado</span>
                        </td>
                        <td *ngIf="estadoRevision(ofertaLaboral.obervaciones)==true && (ofertaLaboral.estado).toString()=='3' ">
                            <span class="badge badge-primary">Publicada</span>
                        </td>
                        <td>{{ ofertaLaboral.obervaciones }}</td>
                        <td>
                            <a class="btn btn-light" (click)="verOfertaModal(i)"> <i class="fas fa-eye"></i></a>
                            <a class="btn btn-light" [routerLink]="['/panel-empleador/edit-oferta-laboral',ofertaLaboral.external_of] "> <i class="fas fa-pencil-alt "></i></a>
                            <a class="btn btn-light" (click)="eliminarOfertaLaboral(ofertaLaboral.external_of,ofertaLaboral.puesto,i)"> <i class="fas fa-trash-alt "></i></a>
                        </td>
                        <td>
                            <a [routerLink]="['/panel-empleador/postulante-oferta',ofertaLaboral.external_of] " class="btn btn-light">
                                <i class="fas fa-chevron-right "></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </article>
    </div>
</div>

<!-- Modal  VISUALIZAR OFERTA LABORAL-->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-ver-oferta-laboral [instanciaOfertaVer]="instanciaOfertaVer"></app-ver-oferta-laboral>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>