<navTab-admin></navTab-admin>

<!-- =========== VALIUDAR POSTULANTE si tipo de usuario es el 3==secretaria entonces imprime esta tareas=========== -->
<!-- =========== VALIUDAR POSTULANTE si tipo de usuario es el 3==secretaria entonces imprime esta tareas=========== -->
<div class="content-wrapper" *ngIf="tipoUsuarioSecretaria==true">
    <div class="card">
        <article class="card-body animated animate__animated fadeIn">
            <h6 class="container">Validar cuentas de Postulantes </h6>
            <hr>
            <div class="container " *ngIf="tipoUsuarioSecretaria==true">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th>Nombre</th>
                            <th>Apellido </th>
                            <th>Cédula</th>
                            <th>Correo</th>
                            <th title="Estado de validación del estudiante">Estado</th>
                            <th>Validar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let estudiantes of estudiante;let i=index">
                            <td>{{ i+1 }}</td>
                            <td>{{ estudiantes.updated_at | date: 'yyyy/MM/dd'}}</td>
                            <td>{{ estudiantes.nombre }}</td>
                            <td>{{ estudiantes.apellido }}</td>
                            <td>{{ estudiantes.cedula }}</td>
                            <td>{{ estudiantes.correo }}</td>
                            <td *ngIf="estadoRevision(estudiantes.observaciones)==false && estadoConversion(estudiantes.estado)==false"><span class=" badge badge-danger ">No validado</span></td>
                            <td *ngIf="estadoRevision(estudiantes.observaciones)==true && estadoConversion(estudiantes.estado)==true "><span class="badge badge-success ">Validado</span></td>
                            <td *ngIf="estadoRevision(estudiantes.observaciones)==true && estadoConversion(estudiantes.estado)==false "><span class="badge badge-warning">Revisado</span></td>
                            <td>
                                <button type="button " class="btn btn-light " [routerLink]="[ '/panel-admin/tareas/postulante',estudiantes.external_es] "><i class="fas fa-chevron-right "></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</div>

<!-- ====================== VALIDAR AL EMPLEADOR ==================================== -->
<!-- ====================== VALIDAR AL EMPLEADOR ==================================== -->
<!-- ============== TOSTATADA ====================== -->
<div class="content-wrapper" *ngIf="tipoUsuarioEncargado==true">
    <div class="card">
        <article class="card-body animated animate__animated fadeIn">
            <div class="container ">
                <h6>Validar cuentas de empleadores</h6>
                <hr>
                <div class="container ">
                </div>
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th title="Empresa">Empresa</th>
                            <th>Correo</th>
                            <th>Estado</th>
                            <th>Validar/Detalles</th>
                            <th>Calificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let empleadores of empleador;let i=index">
                            <td>{{ i+1 }}</td>
                            <td>{{ empleadores.updated_at | date: 'yyyy/MM/dd' }}</td>
                            <td>{{ empleadores.razon_empresa }}</td>
                            <td>{{ empleadores.correo }}</td>
                            <td *ngIf="estadoRevision(empleadores.observaciones)==false && estadoConversion(empleadores.estado)==false"><span class=" badge badge-danger ">No validado</span></td>
                            <td *ngIf="estadoRevision(empleadores.observaciones)==true && estadoConversion(empleadores.estado)==true "><span class="badge badge-success ">Validado</span></td>
                            <td *ngIf="estadoRevision(empleadores.observaciones)==true && estadoConversion(empleadores.estado)==false "><span class="badge badge-warning">Revisado</span></td>
                            <td>
                                <button type="button " class="btn btn-light" [routerLink]="[ '/panel-admin/tareas/empleador',empleadores.external_em] "><i class="fas fa-chevron-right "></i></button>
                            </td>
                            <td>
                              <div style="text-align:center">

                                <star-rating [value]="dibujarEstrellas(empleadores.external_em)" checkedcolor="yellow" uncheckedcolor="black" size="24px"    readonly="false" (rate)="onRate($event,i)"></star-rating>
                              </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</div>


