<navTab-admin></navTab-admin>

<!-- =========== VALIUDAR POSTULANTE si tipo de usuario es el 3==secretaria entonces imprime esta tareas=========== -->
<!-- =========== VALIUDAR POSTULANTE si tipo de usuario es el 3==secretaria entonces imprime esta tareas=========== -->
<div class="content-wrapper" *ngIf="tipoUsuarioSecretaria==true">
    <div class="card">
        <article class="card-body animated animate__animated fadeIn">
            <h6 class="container">Validar cuentas de Postulantes </h6>
            <hr>
            <div class="container " *ngIf="tipoUsuarioSecretaria==true">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Apellido </th>
                            <th>Cédula</th>
                            <th>Correo</th>
                            <th title="Estado de validación del estudiante">Estado</th>
                            <th>Observaciones</th>
                            <th>Validar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let estudiantes of estudiante;let i=index">
                            <td>{{ i+1 }}</td>
                            <td>{{ estudiantes.nombre }}</td>
                            <td>{{ estudiantes.apellido }}</td>
                            <td>{{ estudiantes.cedula }}</td>
                            <td>{{ estudiantes.correo }}</td>
                            <td *ngIf="estadoRevision(estudiantes.observaciones)==false && estadoConversion(estudiantes.estado)==false"><span class=" badge badge-danger ">No validado</span></td>
                            <td *ngIf="estadoRevision(estudiantes.observaciones)==true && estadoConversion(estudiantes.estado)==true "><span class="badge badge-success ">Validado</span></td>
                            <td *ngIf="estadoRevision(estudiantes.observaciones)==true && estadoConversion(estudiantes.estado)==false "><span class="badge badge-warning">Revisado</span></td>
                            <td>{{ estudiantes.observaciones }}</td>
                            <td>
                                <button type="button " class="btn btn-light " [routerLink]="[ '/panel-admin/tareas/postulante',estudiantes.external_es] "><i class="fas fa-chevron-right "></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</div>

<!-- ====================== VALIDAR AL EMPLEADOR ==================================== -->
<!-- ====================== VALIDAR AL EMPLEADOR ==================================== -->
<!-- ============== TOSTATADA ====================== -->
<div class="content-wrapper" *ngIf="tipoUsuarioEncargado==true">
    <div class="card">
        <article class="card-body animated animate__animated fadeIn">
            <div class="container ">
                <h6>Validar cuentas de empleadores</h6>
                <hr>
                <div class="container ">
                </div>
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th title="Empresa">Empresa</th>
                            <th title="Nombre del representante legal">Representante</th>
                            <th>Correo</th>
                            <th>Estado</th>
                            <th>Observaciones</th>
                            <th>Validar</th>
                            <th>Calificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let empleadores of empleador;let i=index">
                            <td>{{ i+1 }}</td>
                            <td>{{ empleadores.razon_empresa }}</td>
                            <td>{{ empleadores.nom_representante_legal }}</td>
                            <td>{{ empleadores.correo }}</td>
                            <td *ngIf="estadoRevision(empleadores.observaciones)==false && estadoConversion(empleadores.estado)==false"><span class=" badge badge-danger ">No validado</span></td>
                            <td *ngIf="estadoRevision(empleadores.observaciones)==true && estadoConversion(empleadores.estado)==true "><span class="badge badge-success ">Validado</span></td>
                            <td *ngIf="estadoRevision(empleadores.observaciones)==true && estadoConversion(empleadores.estado)==false "><span class="badge badge-warning">Revisado</span></td>
                            <td>{{ empleadores.observaciones }}</td>
                            <td>
                                <button type="button " class="btn btn-light" [routerLink]="[ '/panel-admin/tareas/empleador',empleadores.external_em] "><i class="fas fa-chevron-right "></i></button>
                            </td>
                            <td>
                                <span (click)="calificarEmpleador(empleadores.id,i)">
                                     <div class='starrr' id='{{ i }}' style="pointer-events: none;" ></div>  
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</div>




<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="CalificarEmpleador" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="bg-light">
                <div class="card-header text-muted border-bottom-0">
                    {{intanciaEmpleadorCalificar.razon_empresa }}
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="lead"><b>{{ intanciaEmpleadorCalificar.nom_representante_legal }}</b></h2>
                            <p class="text-muted text-lg"><b>{{ intanciaEmpleadorCalificar.razon_empresa }}: </b> {{ intanciaEmpleadorCalificar.num_ruc }} </p>
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="large"><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span> Ciudad: {{ intanciaEmpleadorCalificar.fk_ciudad }}</li>
                                <li class="large"><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span> Provincia: {{ intanciaEmpleadorCalificar.fk_provincia }}</li>
                                <li class="large"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: {{ intanciaEmpleadorCalificar.telefono }}</li>
                                <li class="large"><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span> Direccion #: {{ intanciaEmpleadorCalificar.direccion }}</li>
                                <li class="large"><span class="fa-li"><i class="far fa-address-card"></i></span> Cedula #: {{ intanciaEmpleadorCalificar.cedula }}</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="text-center">
                    <form>
                        <p class="clasificacion">
                            <input id="radio1" type="radio" (click)="valorEstrella(5)">
                            <!--
                          --><label for="radio1" style="font-size: 50px;">★</label>
                            <!--
                          --><input id="radio2" type="radio" (click)="valorEstrella(4)">
                            <!--
                          --><label for="radio2" style="font-size: 50px;">★</label>
                            <!--
                          --><input id="radio3" type="radio" (click)="valorEstrella(3)">
                            <!--
                          --><label for="radio3" style="font-size: 50px;">★</label>
                            <!--
                          --><input id="radio4" type="radio" (click)="valorEstrella(2)">
                            <!--
                          --><label for="radio4" style="font-size: 50px;">★</label>
                            <!--
                          --><input id="radio5" type="radio" (click)="valorEstrella(1)">
                            <!--
                          --><label for="radio5" style="font-size: 50px;">★</label>
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="guardarCalificacion()">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ====================== TEMPLATE PARA VALIDAR===================== -->
<!-- <div class="content-wrapper">
    <div class="card">
        <div class="col-2 mt-2">
            <a class="float-right btn btn-outline-primary" [routerLink]="['/panel-empleador/add-ferta-laboral']">
                <i class="fa fa-plus" aria-hidden="true"></i> Agregar</a>
        </div>
        <article class="card-body animated animate__animated animate__slideInRight">


        </article>
    </div>
</div> -->

<style>
    #form p {
        text-align: center;
    }
    
    #form label {
        font-size: 30px;
    }
    
    input[type="radio"] {
        display: none;
    }
    
    label {
        color: grey;
    }
    
    .clasificacion {
        direction: rtl;
        unicode-bidi: bidi-override;
    }
    
    label:hover,
    label:hover~label {
        color: orange;
    }
    
    input[type="radio"]:checked~label {
        color: orange;
    }
</style>