<navTab-admin></navTab-admin>

<!-- =========== VALIUDAR POSTULANTE si tipo de usuario es el 3==secretaria entonces imprime esta tareas=========== -->
<!-- =========== VALIUDAR POSTULANTE si tipo de usuario es el 3==secretaria entonces imprime esta tareas=========== -->
<div class="content-wrapper" *ngIf="tipoUsuarioSecretaria==true">
    <div class="card">
        <article class="card-body animated animate__animated fadeIn">
            <h6 class="container">Validar cuentas de Postulantes </h6>
            <hr>
            <div class="container " *ngIf="tipoUsuarioSecretaria==true">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th>Nombre</th>
                            <th>Apellido </th>
                            <th>Cédula</th>
                            <th>Correo</th>
                            <th title="Estado de validación del estudiante">Estado</th>
                            <th>Validar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let estudiantes of estudiante;let i=index">
                            <td>{{ i+1 }}</td>
                            <td>{{ estudiantes.updated_at | date: 'yyyy/MM/dd'}}</td>
                            <td>{{ estudiantes.nombre }}</td>
                            <td>{{ estudiantes.apellido }}</td>
                            <td>{{ estudiantes.cedula }}</td>
                            <td>{{ estudiantes.correo }}</td>
                            <td *ngIf="estadoRevision(estudiantes.observaciones)==false && estadoConversion(estudiantes.estado)==false"><span class=" badge badge-danger ">No validado</span></td>
                            <td *ngIf="estadoRevision(estudiantes.observaciones)==true && estadoConversion(estudiantes.estado)==true "><span class="badge badge-success ">Validado</span></td>
                            <td *ngIf="estadoRevision(estudiantes.observaciones)==true && estadoConversion(estudiantes.estado)==false "><span class="badge badge-warning">Revisado</span></td>
                            <td>
                                <button type="button " class="btn btn-light " [routerLink]="[ '/panel-admin/tareas/postulante',estudiantes.external_es] "><i class="fas fa-chevron-right "></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</div>

<!-- ====================== VALIDAR AL EMPLEADOR ==================================== -->
<!-- ====================== VALIDAR AL EMPLEADOR ==================================== -->
<!-- ============== TOSTATADA ====================== -->
<div class="content-wrapper" *ngIf="tipoUsuarioEncargado==true">
    <div class="card">
        <article class="card-body animated animate__animated fadeIn">
            <div class="container ">
                <h6>Validar cuentas de empleadores</h6>
                <hr>
                <div class="container ">
                </div>
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th title="Empresa">Empresa</th>
                            <th>Correo</th>
                            <th>Estado</th>
                            <th>Validar/Detalles</th>
                            <th>Calificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let empleadores of empleador;let i=index">
                            <td>{{ i+1 }}</td>
                            <td>{{ empleadores.updated_at | date: 'yyyy/MM/dd' }}</td>
                            <td>{{ empleadores.razon_empresa }}</td>
                            <td>{{ empleadores.correo }}</td>
                            <td *ngIf="estadoRevision(empleadores.observaciones)==false && estadoConversion(empleadores.estado)==false"><span class=" badge badge-danger ">No validado</span></td>
                            <td *ngIf="estadoRevision(empleadores.observaciones)==true && estadoConversion(empleadores.estado)==true "><span class="badge badge-success ">Validado</span></td>
                            <td *ngIf="estadoRevision(empleadores.observaciones)==true && estadoConversion(empleadores.estado)==false "><span class="badge badge-warning">Revisado</span></td>
                            <td>
                                <button type="button " class="btn btn-light" [routerLink]="[ '/panel-admin/tareas/empleador',empleadores.external_em] "><i class="fas fa-chevron-right "></i></button>
                            </td>
                            <td>
                                <span
                                    (click)="mostrarEmpleadorCalifiacar(i)">
                                     <div class='starrr'
                                            id='{{ empleadores.external_em }}'
                                            style="pointer-events: none;">
                                     </div>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="CalificarEmpleador" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="bg-light">
                <div class="card-header text-muted border-bottom-0">
                    {{intanciaEmpleadorCalificar.razon_empresa }}
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="lead"><b>{{ intanciaEmpleadorCalificar.nom_representante_legal }}</b></h2>
                            <p class="text-muted text-lg"><b>{{ intanciaEmpleadorCalificar.razon_empresa }}: </b> {{ intanciaEmpleadorCalificar.num_ruc }} </p>
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="large"><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span> Ciudad: {{ intanciaEmpleadorCalificar.fk_ciudad }}</li>
                                <li class="large"><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span> Provincia: {{ intanciaEmpleadorCalificar.fk_provincia }}</li>
                                <li class="large"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: {{ intanciaEmpleadorCalificar.telefono }}</li>
                                <li class="large"><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span> Direccion #: {{ intanciaEmpleadorCalificar.direccion }}</li>
                                <li class="large"><span class="fa-li"><i class="far fa-address-card"></i></span> Cedula #: {{ intanciaEmpleadorCalificar.cedula }}</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="text-center">
                    <p class="clasificacion ">
                        <input id="radio1" type="radio" name="estrellas" value="5" (click)="valorEstrella(5)">
                        <label for="radio1">★</label>
                        <input id="radio2" type="radio" name="estrellas" value="4" (click)="valorEstrella(4)">
                        <label for="radio2">★</label>
                        <input id="radio3" type="radio" name="estrellas" value="3" (click)="valorEstrella(3)">
                        <label for="radio3">★</label>
                        <input id="radio4" type="radio" name="estrellas" value="2" (click)="valorEstrella(2)">
                        <label for="radio4">★</label>
                        <input id="radio5" type="radio" name="estrellas" value="1" (click)="valorEstrella(1)">
                        <label for="radio5">★</label>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="calificarEmpleador()" [disabled]="activarBotonCalificarModal==false">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
